/* Centraliza a tela de login */
#login-view {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

/* Centraliza os formulários (Insumos, Usuários, Repor) */
.view.active {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
}

/* Evita que os formulários fiquem gigantes e descentralizados */
.form-container, .card, #login-view form {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}